<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/arrow-left-on.svg">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <img id="image-left" src="/images/arrow-left-off.svg" alt="">
        <img id="image-right" src="/images/arrow-right-off.svg" alt="">
    </main>
</body>
</html>